.item {
  margin-top: 10px;
}

form.sorting {
  text-align: right;
}

.ranking_title {
  margin-top: 30px;
}

.ranking-items {
  display: flex;
}

.ranking-img {
  max-height: 200px;
}

.ranking-body {
  margin: 20px;
}